[Unit]
Description=lounge screen manager

[Service]
ExecStart=/usr/local/bin/lsm
WorkingDirectory=/home/lsm/
Restart=always
Environment="ONEDRIVE_PATH=/home/lsm/onedrive/"
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/lsm/.Xauthority"
